.diceContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

}
.diceAll{
    display: flex;
    align-items: center;
}
.diceItem{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.header{
    align-self: center;
}